*.ipynb_checkpoints/*
*.vscode*
.vscode
.vscode/*
*.ipynb
pre-bulid/*
*__pycache__*

*.bam
*.bam.*
*.csv
*x0*
!test/bam_file/barcode01.test.bam
!test/bam_file/barcode01.test.bam.bai
!test/forenRepeat_output_LA/test/forenRep.csv
*.ipynb

myRef/*
!myRef/readme.md

myLibs/__pycache__
myLibs/build
myLibs/temp
*.c
*.so